.Scorecardmain{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
}
.downloadbtn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button{
        width: 230px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: #1492EF;
        border: 1px solid #1492EF;
        border-radius: 32px;
        background: #FFF;
        align-items: center;    
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }
}
.downloadIcon{
    margin-right: 10px;
}