.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:  20px;
    // background-color: rgb(51 52 53 / 5%);
    // margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 32px;
    box-shadow: 0px 12px 48px -4px #0000000F;
    height: 420px;
    width: 615px;
    margin-left: 10px;
    // border-radius: 20px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;

    h4{
      font-size: 18px;
      font-weight: 700;
      color: #111;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 0;
      margin-left: 0;
  }
  }
  .cardheader{
    color: #1D2029;
    font-size: 16px;
    font-weight: 600;
    // margin-top: 20px;
  }

.taskheaderBox{
    display: flex;
    justify-content: space-between;
}
.taskHead{
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.taskBox{
    background-color: #FAFAFA;
    width: 97%;
    border-radius: 16px;
    padding: 16px;
    padding-right: 0;
    margin-top: 15px; 
}
.taskHeader{
    font-weight: 600;
    color:#1D2029;
    margin-left:"20px";
    font-size: 14px;
}
.taskDesc{
    font-size: 14px;
    color: #7C7C7C;
    font-weight: 400;
    margin-top: 2px;
    padding-right: 20px ;
}
.tags{
    width: 100%;
    margin-top: 12px;
}
.pending{
    width: 100%;
    font-size: 11px;
    font-weight: 600;
    color: #D23A3A;
    background: #FFECEE;
    padding: 4px 8px;
    border-radius: 32px;
    margin-right: 5px;
}
.progress{
    width: 100%;
    font-size: 11px;
    font-weight: 600;
    color: #D5A600;
    background: #FFF8DB;
    padding: 4px 8px;
    border-radius: 32px;
    margin-right: 5px;
}
.done{
    width: 100%;
    font-size: 11px;
    font-weight: 600;
    color: #12B76A;
    background: #E1FFED;
    padding: 4px 8px;
    border-radius: 32px;
    margin-right: 5px;
}
.taskexpbtn{
    width: 100%;
    border: none;
    background-color: #111111b7;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}
.questionairebtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .questionbtn2{
    width: 48%;
    color: #1492EF;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #1492EF;
    border: none;
    padding: 10px 0;
    border-radius: 32px;
    text-transform: uppercase;
    background-color: #FFF;
    cursor: pointer;
    margin-top: 12px;
  }
  .btnIcon{
    font-size: 14px;
    margin-left: 10px;
  }

@media screen and (max-width:1280px){
    .container{
        width: 92%;
    }
}